.backContainer{
    background: #f2f2f2 none repeat scroll 0 0;
}

.containerCenter{
    overflow: hidden;
    width: 980px;
}

.infoContainer{
    margin: 5px;
    padding: 30px 10px;
    background: #ffffff none repeat scroll 0 0;
}

.arrow{
    width: 890px;
    height: 38px;
    margin:0 auto 40px;
}

.form-horizontal{
    margin: auto;
    width: 500px;
}


.resetInfo{
    width: 500px;
    margin: 100px auto;
}

.resetInfo img{
    float: left;
    width: 62px;
    height: 62px;
    margin-right: 10px;
}

.resetInfo h3{
    color: #6c6c6d;
    line-height: 40px;
    font-weight: bold;
}

.chooseContainer{
    width: 930px;
    height: 120px;

    background-color: #F9F9F9;
    padding: 20px;
    margin: 20px auto;
}

.chooseContainer img{
    float: left;
    width: 50px;
    height: 50px;
    margin: 15px 20px;
}
.chooseContainer p{
    float: left;
    font-size: 16px;
    margin-top: 10px;
    width: 600px;
}

.chooseContainer span{
    color: #6C6C6C;
}

.chooseContainer a{
    font-size: 14px;
    float: right;
    width: 130px;
}
