<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心首页</title>
    <link rel="stylesheet" type="text/css" href="../../../../public/css/bootstrap.css">
    <script type="text/javascript" src="../../../../public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../../public/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../../public/css/memberCenter/basePublicCenter.css">
    <link rel="stylesheet" type="text/css" href="../../../../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../../public/css/publicCommon.css">

</head>
<body>
<!--导航栏-->
<div class="nav-layout w100">
    <div class="navContainer  clearfix">
        <div class="centerTitle">
            <a href="#"><img src="../../../../public/images/memberCenter/logo.png"></a>
        </div>
        <ul class="centerNav">
            <li class="active navItem">账号管理</li>
            <li class="navItem">信息管理</li>
            <li class="navItem"><a href="../../common/Index.html">网站首页</a></li>
        </ul>
    </div>
</div>

<div class="clearfix bodyContent" style="width: 100%">
    <!--二级菜单-->
    <div class="navMenuContainer  clearfix">
        <div class="menuTitle">
            账号管理
        </div>
        <ul class="menuList">
            <li>消息通知<a>发信</a></li>
            <li>账户设置<a>查看</a></li>
            <li>收藏管理<a>添加</a></li>
            <li>贸易提醒<a>添加</a></li>
            <li>我的友商<a>添加</a></li>
            <li>客服中心<a>提问</a></li>
        </ul>
    </div>
    <div class="contentContainer clearfix">
        <div class="contentBlock">
            <div class="contentBody">
                <table style="width: 100%;margin-top: 10px">
                    <tr>
                        <td style="width: 10%">
                            <img class="memberPhoto" src="../../../../public/images/memberCenter/showMember.jpg">
                        </td>
                        <td>
                            <ul>
                                <li class="lh30"><span class="f_s_14 f_w_b">欢迎,蔡先生</span>&nbsp;&nbsp;<span>(昵称:juniorcai)</span></li>
                                <li class="lh30"><span>蔡先生(个人会员)</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">账户详情>></a></li>
                                <li class="lh30"><span>欢迎,蔡先生</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="contentBlock">
            <p class="contentTitle">快捷导航</p>
            <div class="contentBody">
                <ul class="clearfix quickOper">
                    <li>
                        <img src="../../../../public/images/memberCenter/u39.png">
                        <p><a>发布求购信息</a></p>
                        <p>
                            您目前发布了0条求购信息
                        </p>
                    </li>
                    <li>
                        <img src="../../../../public/images/memberCenter/u39.png">
                        <p><a>发布求购信息</a></p>
                        <p>
                            您目前发布了0条求购信息
                        </p>
                    </li>
                    <li>
                        <img src="../../../../public/images/memberCenter/u39.png">
                        <p><a>发布求购信息</a></p>
                        <p>
                            您目前发布了0条求购信息
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentBlock">
            <p class="contentTitle">系统消息</p>
            <div class="contentBody">
                <ul class="quickInfo clearfix">
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                    <li><a>同志们辛苦了1111</a><span>2016-07-01</span></li>
                </ul>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
</body>
</html>