<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业简介</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css">
    <script type="text/javascript" src="../../../public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../public/js/extendPagination.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/publicCommon.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/companySite/baseCompanySite.css">
</head>
<body>
<!--顶部TOP-->
<div class="headerTop w100">
    <div class="topContainer containerCenter">
        <div class="top-left">
            <span>欢迎来到<a href="Index.html" target="_self" >&nbsp;宁波石材网&nbsp;</a></span>
            <a href="" target="_blank">登录</a>
            |
            <a href="" target="_blank">注册</a>
        </div>
        <div class="top-right">
            <a href="" target="_blank">会员中心</a>&nbsp;|&nbsp;
            <a href="" target="_blank">帮助中心</a>&nbsp;|&nbsp;
            <span>客服热线:0574-87654321</span>
        </div>
    </div>
</div>
<!--头部LOGO+搜索框-->
<div class="headerSearch w100">
    <div class="c-searchContainer containerCenter">
        <div class="leftLogo">
            <a href="Index.html" target="_self"><img src="images/siteLogo.png" style="width: 70px;height: 70px"></a>
            <div class="c-contactInfo">
                <p><span>公司名称:</span><b>欧达石材</b></p>
                <p><span>联系人:</span><b>王先生</b></p>
                <p><span>联系电话:</span><b style="color: #ff9900;">15831288512</b></p>
            </div>
        </div>
        <div class="c-rightSearch">
            <div class="dropdown searchSelect">
                <div class="dropdown-toggle c-selectBox" data-toggle="dropdown" >
                    供应<span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" >供应</a></li>
                    <li  class="divider"></li>
                    <li><a href="javascript:void(0);" >求购</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);"  >商家</a></li>
                </ul>
            </div>
            <input placeholder="请输入关键词" class="keyInput">
            <button class="searchBtn" id="keySearch">搜索</button>
        </div>
    </div>
</div>
<!--导航栏-->
<div class="c-nav-layout w100">
    <div class="navContainer containerCenter">
        <ul class="nav nav-pills nav-justified">
            <li><a href="siteIndex.html">首页</a></li>
            <li><a href="companyProducts.html">供应产品</a></li>
            <li><a href="companyPurchase.html">求购信息</a></li>
            <li class="active"><a href="companyIntroduction.html">企业简介</a></li>
            <li><a href="companyElegant.html">企业风采</a></li>
            <li><a href="companyContact.html">联系方式</a></li>
            <li><a href="companyRecruitment.html">企业招聘</a></li>
        </ul>

    </div>
</div>
<!--内容块-->
<div class="containerCenter clearfix">
    <p>首页 > 供应 > 大理石</p>

    <div class="DetailContainer clearfix">
        <div class="leftSideBarContainer clearfix">
            <div class="barBlock clearfix">
                <div class="blockTitle">欧达石材</div>
                <p><label>联系人:</label><span>王先生</span></p>
                <p><label>电&nbsp;&nbsp;&nbsp;&nbsp;话:</label><span class="phoneNum">13786543211</span></p>
                <a href="#" class="blockGoShop">进店逛逛</a>
                <a href="#" class="blockCollectShop">收藏店铺</a>
            </div>
            <div class="barBlock clearfix">
                <div class="blockTitle">店铺公告</div>
                <p>
                    满2件包邮 八五折 /【主营石材】大理石 花岗岩 环境石材 园林工艺 室内装饰 养护石材
                </p>
            </div>
            <div class="barBlock clearfix">
                <div class="quickSearch clearfix">
                    <input class="keyInput" placeholder="请输入关键词">
                    <div class="quickSearchBtn"><a  href="#"></a></div>
                </div>
                <div class="blockTitle">产品分类</div>
                <p>
                    满2件包邮 八五折 /【主营石材】大理石 花岗岩 环境石材 园林工艺 室内装饰 养护石材
                </p>
            </div>
            <div class="barBlock clearfix">
                <div class="blockTitle">友情链接</div>
                <ul class="friendLink">
                    <li>
                        <a href="#">红润建设</a>
                    </li>
                    <li>
                        <a href="#">泰信石材</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightDetailContainer">
            <div class="barBlock clearfix">
                <div class="blockTitle">企业简介</div>
                <img class="c-introImg" src="../../../public/images/rightAd1.png">
                <p class="lh20">
                    随州市闽辉石材有限公司，位于“中国腹地”—湖北省随州,是矿山开采、石材加工、异型制作、为一体的大型石材企业。
                    闽辉石业，凭着精湛的生产技术和优质的服务、依托优质的大型黄金麻矿山，在中国腹地石材基地异军突起，打造了黄金麻，白麻的金质品牌。
                    公司自成立以来，以诚信为本，用心做石材，积累了丰富的矿山开采、异型加工、板材加工、等方面的实践经验。
                    公司现拥有众多的专业技术人员，以先进的生产设备及雄厚的技术力量做依托，以丰富的矿山资源做后盾，通过合理的生产管理，确保了每一件产品的质量，
                    工厂拥有大规模生产能力，使得闽辉石业能够做到真正的厂家直销！先进的生产工艺、成套的加工设备、周密的管理制度，使企业能够在众多石材供应商中异军突起，
                    享有非常高的声誉。以市场为导向，积极应对市场变化，掌握市场变化规律和趋势，加快营销创新步伐，以企业的管理优势和优质的产品质量及服务水平来巩固市场，扩大市场。
                    闽辉黄金麻白麻系列产品，光亮晶莹、坚硬永久、高贵典雅。可用做磨光板，火烧板，薄板，台面板，环境石，地铺石，路延石，小方块，墙壁石，石制家具，石雕及各种建筑工程配套用石材。
                    目前全国黄金麻走俏于建材市场、供...
                </p>
            </div>
            <div class="barBlock">
                <div class="blockTitle">公司档案</div>
                <table class="tableHonor" style="width: 100%;">
                    <tr>
                        <td class="th th10">公司名称:</td>
                        <td class="tb">欧达石材</td>
                        <td class="th th10">公司类型:</td>
                        <td class="tb">个体经营</td>
                    </tr>
                    <tr>
                        <td class="th th10">所&nbsp;&nbsp;在&nbsp;&nbsp;地:</td>
                        <td class="tb">浙江/宁波市</td>
                        <td class="th th10">公司规模:</td>
                        <td class="tb">1-59人</td>
                    </tr>
                    <tr>
                        <td class="th th10">注册资本:</td>
                        <td class="tb">100万人民币</td>
                        <td class="th th10">注册年份:</td>
                        <td class="tb">1990年</td>
                    </tr>
                    <tr>
                        <td class="th th10">资料认证:</td>
                        <td class="tb">100万人民币</td>
                    </tr>
                    <tr>
                        <td class="th th10">贸易模式:</td>
                        <td class="tb">石材大板</td>
                    </tr>
                    <tr>
                        <td class="th">主营行业:</td>
                        <td class="tb">大理石 / 花岗岩 / 环境石材</td>
                    </tr>
                </table>
            </div>
            <div class="barBlock clearfix">
                <div class="blockTitle">荣誉资质</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>证书</th>
                            <th>证书名称</th>
                            <th>发证机构</th>
                            <th>发证日期</th>
                            <th>到期日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="../../../public/images/companyHonor/honor1.jpg"></td>
                            <td>石材、服务、信誉AAA证书</td>
                            <td>中国石材品质保障中心</td>
                            <td>2015-7-1</td>
                            <td>2016-7-1</td>
                        </tr>
                        <tr>
                            <td><img src="../../../public/images/companyHonor/honor1.jpg"></td>
                            <td>石材、服务、信誉AAA证书</td>
                            <td>中国石材品质保障中心</td>
                            <td>2015-7-1</td>
                            <td>2016-7-1</td>
                        </tr>
                        <tr>
                            <td><img src="../../../public/images/companyHonor/honor1.jpg"></td>
                            <td>石材、服务、信誉AAA证书</td>
                            <td>中国石材品质保障中心</td>
                            <td>2015-7-1</td>
                            <td>2016-7-1</td>
                        </tr>
                        <tr>
                            <td><img src="../../../public/images/companyHonor/honor1.jpg"></td>
                            <td>石材、服务、信誉AAA证书</td>
                            <td>中国石材品质保障中心</td>
                            <td>2015-7-1</td>
                            <td>2016-7-1</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagerContainer">
                </div>

            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    $(function(){
        var totalCount=300,showCount = 32,limit = 10;
        $('.pagerContainer').extendPagination({
            totalCount: totalCount,
            showCount: showCount,
            limit: limit,
            callback: function (curr, limit, totalCount) {
                createTable(curr, limit, totalCount);
            }
        });

        //鼠标上移图片放大
        var bigImg = null;
        $(".barBlock .table img").hover(function(){
            var broBigImg = $(this).siblings();
            if(broBigImg.length==0){
                var imgSrc = $(this).attr("src");
                var originalImgTop = $(this).position().top;
                var originalImgLeft = $(this).position().left;


                var bigImgTop = 5 + parseInt(originalImgTop);
                var bigImgLeft = 175 + parseInt(originalImgLeft);

                bigImg = $('<img>',{
                    src:imgSrc,
                    class:'bigImg'
                }).css({

                    cursor:'pointer',
                    width:'250px',
                    height:'250px',
                    position:'absolute',
                    top:bigImgTop,
                    left:bigImgLeft,
                    'z-index':'9999',
                    display:'none'
                });
                $(this).after(bigImg);
            }else{
                if(bigImg != null)
                    bigImg = $(broBigImg[0]);
            }
            bigImg.show();
        },function(){
            bigImg.hide();
        });

    });
</script>

</
</html>