<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业风采</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css">
    <script type="text/javascript" src="../../../public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../../public/js/extendPagination.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/publicCommon.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/companySite/baseCompanySite.css">
</head>
<body>
<!--顶部TOP-->
<div class="headerTop w100">
    <div class="topContainer containerCenter">
        <div class="top-left">
            <span>欢迎来到<a href="Index.html" target="_self" >&nbsp;宁波石材网&nbsp;</a></span>
            <a href="" target="_blank">登录</a>
            |
            <a href="" target="_blank">注册</a>
        </div>
        <div class="top-right">
            <a href="" target="_blank">会员中心</a>&nbsp;|&nbsp;
            <a href="" target="_blank">帮助中心</a>&nbsp;|&nbsp;
            <span>客服热线:0574-87654321</span>
        </div>
    </div>
</div>
<!--头部LOGO+搜索框-->
<div class="headerSearch w100">
    <div class="c-searchContainer containerCenter">
        <div class="leftLogo">
            <a href="Index.html" target="_self"><img src="images/siteLogo.png" style="width: 70px;height: 70px"></a>
            <div class="c-contactInfo">
                <p><span>公司名称:</span><b>欧达石材</b></p>
                <p><span>联系人:</span><b>王先生</b></p>
                <p><span>联系电话:</span><b style="color: #ff9900;">15831288512</b></p>
            </div>
        </div>
        <div class="c-rightSearch">
            <div class="dropdown searchSelect">
                <div class="dropdown-toggle c-selectBox" data-toggle="dropdown" >
                    供应<span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0);" >供应</a></li>
                    <li  class="divider"></li>
                    <li><a href="javascript:void(0);" >求购</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0);"  >商家</a></li>
                </ul>
            </div>
            <input placeholder="请输入关键词" class="keyInput">
            <button class="searchBtn" id="keySearch">搜索</button>
        </div>
    </div>
</div>
<!--导航栏-->
<div class="c-nav-layout w100">
    <div class="navContainer containerCenter">
        <ul class="nav nav-pills nav-justified">
            <li><a href="siteIndex.html">首页</a></li>
            <li><a href="companyProducts.html">供应产品</a></li>
            <li><a href="companyPurchase.html">求购信息</a></li>
            <li><a href="companyIntroduction.html">企业简介</a></li>
            <li class="active"><a href="companyElegant.html">企业风采</a></li>
            <li><a href="companyContact.html">联系方式</a></li>
            <li><a href="companyRecruitment.html">企业招聘</a></li>
        </ul>

    </div>
</div>

<!--内容块-->
<div class="containerCenter clearfix">
    <p>首页 > 供应 > 大理石</p>

    <div class="DetailContainer clearfix">
        <div class="leftSideBarContainer clearfix">
            <div class="barBlock clearfix">
                <div class="blockTitle">欧达石材</div>
                <p><label>联系人:</label><span>王先生</span></p>
                <p><label>电&nbsp;&nbsp;&nbsp;&nbsp;话:</label><span class="phoneNum">13786543211</span></p>
                <a href="#" class="blockGoShop">进店逛逛</a>
                <a href="#" class="blockCollectShop">收藏店铺</a>
            </div>
            <div class="barBlock clearfix">
                <div class="blockTitle">店铺公告</div>
                <p>
                    满2件包邮 八五折 /【主营石材】大理石 花岗岩 环境石材 园林工艺 室内装饰 养护石材
                </p>
            </div>
            <div class="barBlock clearfix">
                <div class="quickSearch clearfix">
                    <input class="keyInput" placeholder="请输入关键词">
                    <div class="quickSearchBtn"><a  href="#"></a></div>
                </div>
                <div class="blockTitle">产品分类</div>
                <p>
                    满2件包邮 八五折 /【主营石材】大理石 花岗岩 环境石材 园林工艺 室内装饰 养护石材
                </p>
            </div>
            <div class="barBlock clearfix">
                <div class="blockTitle">友情链接</div>
                <ul class="friendLink">
                    <li>
                        <a href="#">红润建设</a>
                    </li>
                    <li>
                        <a href="#">泰信石材</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rightDetailContainer">
            <div class="barBlock c-newProducts clearfix">
                <div class="blockTitle">企业风采</div>
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant2.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant4.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant1.jpg" title="产品1"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant1.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant3.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant4.jpg" title="产品1"></a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant4.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant2.jpg" title="产品1"></a></div>
                        <div class="col-md-4"><a href="#"><img class="w300h200" src="../../../public/images/companyElegant/elegant3.jpg" title="产品1"></a></div>
                    </div>
                </div>

                <div class="pagerContainer">
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    $(function(){
        var totalCount=300,showCount = 32,limit = 10;
        $('.pagerContainer').extendPagination({
            totalCount: totalCount,
            showCount: showCount,
            limit: limit,
            callback: function (curr, limit, totalCount) {
                createTable(curr, limit, totalCount);
            }
        });

    });
</script>

</html>