<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宁波石材网---密码找回</title>
    <link rel="stylesheet" type="text/css" href="../../../public/css/bootstrap.css">
    <script type="text/javascript" src="../../../public/js/jquery.js"></script>
    <script type="text/javascript" src="../../../public/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="../../../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/publicCommon.css">
    <link rel="stylesheet" type="text/css" href="../../../public/css/userOperateCss/baseFindPassword.css">
</head>
<body>
<!--头部LOGO+搜索框-->
<div class="headerSearch w100">
    <div class="searchContainer containerCenter">
        <div class="leftLogo">
            <a href="../common/Index.html" target="_self"><img src="../../../public/images/sitelogosmall.png"></a>
        </div>
        <div class="logoTitle">
            <span>密码找回</span>
        </div>
    </div>
</div>

<div class="backContainer containerCenter clearfix">
    <div class="infoContainer clearfix">
        <div class="arrow" style="background: url('../../../public/images/arrow3.png') no-repeat;"></div>

        <div class="resetInfo clearfix">
            <img src="../../../public/images/resetDone.png">
            <h3>密码重置成功,请使用新密码登录</h3>
            <span style="text-decoration: underline;font-size: 14px;color: #0063dc;">5秒后自动跳转至登录！</span>
        </div>

    </div>
</div>

<div class="loginFooter">
    <p>
        <a href="#">关于我们</a>&nbsp; |&nbsp;
        <a href="#">法律声明</a>&nbsp; |&nbsp;
        <a href="#">联系我们</a> &nbsp;|&nbsp;
        <a href="/dh/">帮助中心</a>&nbsp;|&nbsp;
        <a href="/about?type=fwtk">意见反馈</a>&nbsp;
    </p>
    <p>COPYRIGHT&copy;  版权所有 宁波石材网www.nbscw.cn&nbsp;&nbsp;&nbsp; 浙ICP备123456789号 客服邮箱service@nbscw.cn</p>
</div>
</body>
</html>